.title{
	position: absolute;
	top: 1%;
	left: 1%;
	font-family: 'Fugaz One', cursive;
	font-size: 80px;
	color: black;
}

.menu{
	margin:24px;
}
.menu_list{
	list-style-type: none;
	position: absolute;
	top: 1%;
	right: 1%;
  	margin: 0;
  	padding: 0;
  	font-family: 'Teko', sans-serif;
  	font-size: 80px;
}
.work_list{
	list-style-type: none;
	position: absolute;
	top: 100%;
	right: 1%;
  	margin: 0;
  	padding: 0;
  	font-family: 'Teko', sans-serif;
  	font-size: 28px;
}
#menu_home:hover{
	color:black;
}
#menu_about:hover{
	color:black;
}
#menu_works:hover{
	color:black;
}

a {
    color: black;
    text-decoration: none;
}

a:hover 
{
     color: black; 
     text-decoration:none; 
     cursor:pointer;  
}